body{
	background-image: url('back1.jpg');
}


#top,#info,#work,#contact{
	width: 100%;
	height: 100vh;
	background: #00cce1;
	opacity: .9;
	border: .1em solid #eee;
	text-align: center;
	font-family: 'Lobster', sans-serif;
	line-height: 30vh;
	
}

.title{
	font-size: 10vh;
}

.columns{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    line-height: 3vh;

}

.column-left{ float: left; width: 33%; padding: 1em;}
.column-right{ float: right; width: 33%; padding: 1em;}
.column-center{ display: inline-block; width: 33%; padding: 1em;}

div p{
	font-size: 5.0vw;
}

h2{
	font-size: 8.0vw;
}

h1{ 
    width:450px; 
    font-size: 48 em;
    letter-spacing: .01em; 
    color:#000; 
}


.inner {
	box-shadow: 1em 0 0 1em #FFF;
    background: #FFF;
    position:relative;
    line-height: 80vh;
    margin-left: 40vw;

}

::-moz-selection { 
    color: white;
    color: rgba(254,255,255,0.80); 
    background: #4c8980;

}

::selection {
    color: white;
    color: rgba(254,255,255,0.80); 
    background: #4c8980;

}
